* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0 auto;
  padding: 50px 0 50px 20px;
  max-width: 840px;
}
@media (max-width: 460px) {
  /* mobile */
  body {
    font-size: 16px;
  }
}

/* header */
.logo {
  font-size: 23px;
}
.address a {
  color: black;
}
.address {
  margin-top: 10px;
  font-style: normal;
}
@media (min-width: 461px) {
  /* desktop */
  .logo {
    float: left;
  }
  .address {
    text-align: right;
    margin-right: 40px;
  }
}

/* navigation */
.nav {
  list-style-type: none;
  margin: 20px 0;
}
.nav a {
  color: black;
  padding: 5px 10px;
  display: inline-block;
}
.nav .active {
  background: black;
  color: white;
  margin-right: 5px;
  cursor: default;
}
