<header>
  <h1>
    <a href="/" class="logo">
      <img src="/assets/franklin-logo.svg" alt="{{ site.name }}" width="200">
    </a>
  </h1>

  <address class="address">
    <a href="mailto:design@studio-franklin.com" title="klicken und schreiben">&rarr; design@studio-franklin.com</a><br>
    <a href="https://www.google.com/maps/dir/?api=1&destination=Hardstrasse+81,+8004+Zürich&travelmode=transit" target="_blank" title="klicken und besuchen">Hardstrasse 81b, 8004 Zürich</a><br>
    <a href="tel:+410786940476" title="klicken und anrufen">+41 078 694 04 76</a>
  </address>

  <ul class="nav">
    {% assign items = site.pages | where_exp:"page", "page.name != 'style.scss'" | sort: 'order' %}
    {% for item in items %}
      <li class="{% if item.url == page.url %}active{% endif %}">
        <a href="{{ item.url }}">{{ item.title }} </a>
      </li>
    {% endfor %}
  </ul>
</header>
