/* Quincy CF italic */
@font-face {
  font-family: "Quincy-italic";
  src: url("/assets/fonts/QuincyCF-Italic.woff") format("woff");
}
/* Quincy CF regular */
@font-face {
  font-family: "Quincy-regular";
  src: url("/assets/fonts/QuincyCF-Regular.woff") format("woff");
}
/* fira-sans-300 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans Light'), local('FiraSans-Light'),
       url('/assets/fonts/fira-sans-v8-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/fira-sans-v8-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-300italic - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Fira Sans Light Italic'), local('FiraSans-LightItalic'),
       url('/assets/fonts/fira-sans-v8-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/fira-sans-v8-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-regular - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
       url('/assets/fonts/fira-sans-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/fira-sans-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-italic - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Fira Sans Italic'), local('FiraSans-Italic'),
       url('/assets/fonts/fira-sans-v8-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/fira-sans-v8-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-500 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Sans Medium'), local('FiraSans-Medium'),
       url('/assets/fonts/fira-sans-v8-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
 /      url('/assets/fonts/fira-sans-v8-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}/
/* fira-sans-500italic - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Fira Sans Medium Italic'), local('FiraSans-MediumItalic'),
       url('/assets/fonts/fira-sans-v8-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/fira-sans-v8-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  color:#160e44;
}

a:hover {
  text-decoration: underline;
  color:#ed1847;
}

p {
  margin-bottom: 1em;
  line-height: 1.35em;
}

strong {
  font-weight: inherit;
  font-size: 1em;
  line-height: 150%;
  color: #00aeef;
}

h2 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  margin-bottom: 0.5em;
  font-size: 1.3em;
}

h3 {
  font-family: 'Fira Sans', sans-serif;
  color: #00aeef;
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 0.25em;
  margin-top: 1.5em;
}

h4 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  margin-top: 1em;
  font-size: 1em;
}

blockquote {
  margin: 2em;
  font-style: normal;
}

body {
  font-family: 'Quincy-italic', serif;
  font-size: 18px;
  color: #160e44;
  padding: 20px 20px 30px 40px;
  background-color: #f1f2f2;
}

@media (max-width: 460px) {
  /* mobile */
  body {
    padding: 20px 0px 50px 20px;
    font-size: 15px;
  }
}

main {
  margin-right: 20px;
}

/*
 * Header
 */

header {
  margin-right: 20px;
}

header::after {
  content: ' ';
  clear: both;
  display: block;
  margin-bottom: 60px;
}

.logo {
  font-size: 23px;
  width: 240px;
  float: left;
}

.address {
  font-style: normal;
  text-align: right;
  float: right;
  font-family: 'Quincy-italic', serif;
  font-weight: 400;
  line-height: 130%;
  font-size: 1em;
}
.address a {
  text-decoration: none;
}

@media (max-width: 799px) {
  /* mobile */
  .address {
    display: none;
  }
  header::after {
    content: ' ';
    clear: both;
    display: block;
    margin-bottom: 30px;
  }
}

.nav {
  float: left;
  list-style-type: none;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color:#160e44;
  font-size: 1em;
}
.nav a {
  color: #160e44;
  padding: 5px 20px 5px 20px;
  display: inline-block;
  text-decoration: none;
  background: white;
}
.nav .active a {
  background: #160e44;
  color: white;
  text-decoration: none;
}
.nav a:hover {
  background: #ecbbbe;
  color: #ed1a3b;
  text-decoration: none;
}
@media (max-width: 460px) {
  /* mobile */
  .nav {
    margin-top: 5px;
    margin-left: -20px;
  }
}

/*
 * Projects home page
 */
main.projects {
  margin-right: 0;
}
.projects > ul {
  list-style-type: none;
}
.projects img {
  display: block;
  height: auto;
}
.projects a {
  display: inline-block;
  float: left;
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
  text-decoration: none;
}
.projects .title {
  background: #ed1846;
  color: white;
  position: absolute;
  bottom: 0;
  padding: 1em;
  width: 100%;
  height: 60%;
  box-sizing: border-box;
  text-align: center;
  display: none;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}
.projects a:hover .title {
  display: inline-block;
}
.projects .coverimage {
  max-height: 400px;
  margin-bottom: 40px;
  margin-right: 20px;
  background: #ffffff;
}
@media (max-width: 900px) and (min-width: 461px) {
  /* medium */
  .projects .projectcover {
    width: calc((100vw - 120px)/3);
  }
  .projects .title {
    font-size: 0.8em;
  }
}
@media (max-width: 460px) {
  /* mobile */
  .projects img {
    width: calc(50vw - 30px);
  }
  .projects .title {
    display: inline-block;
    height: initial;
    background: #f1f2f2;
    color: #160e44;
    opacity: 0.8;
    font-size: 0.7em;
  }
}

/*
 * Default Static pages (not 1 project)
 */
.default {
  position: relative;
}
.default p, .default li,
.default h2, .default h3, .default h4 {
  max-width: 480px;
}
.default aside {
  position: absolute;
  left: 540px;
  top: 0;
}
.default figure {
  margin-bottom: 20px;
  margin-right: 10px;
  background: white;
  padding: 1px 20px 20px 20px;
}
.default figcaption {
  font-size: 0.75em;
  font-family:'Fira Sans', sans-serif;
  color: #160e44;
  padding: 3px 8px 3px 8px;
}
.default figure > img {
  width: calc(100vw - 700px);
}
.default img {
  width: 100%;
}
.default ul {
  list-style-type: none;
  margin-bottom: 1em;
  line-height: 1.35em;
}
.default li::before {
  display:          inline-block;
  vertical-align:   middle;
  width:            6px;
  height:           2px;
  background-color: #160e44;
  margin-right:     10px;
  content:          '';
}

.default strong {
  background-color: white;
  padding: 0px 6px 2px 6px;
}
.default .uebersichtlink {
  font-size: 0.75em;
  font-family:'Fira Sans', sans-serif;
  color: #160e44;
  margin-bottom: 10px;
  background-color: #e6e7e8;
  padding: 3px 8px;
  text-decoration: none;
}
.default .uebersichtlink:hover {
  color: #ed1846;
}
.default blockquote {
  background-color: #ecbbbe;
  border-left: none;
  padding: 50px 20px 0px 20px;
  margin: 0px 15px 15px 0px;
  max-width: 350px;
  display: inline-block;
}
.default blockquote p {
  position: relative;
}
.default blockquote p::before {
  content: '“';
  font-size: 4em;
  position: absolute;
  font-family: 'Quincy-regular', serif;
  left: 0px;
  top: -15px;
}

@media (max-width: 800px) {
  /* mobile */
  .default aside {
    position: static;
  }
  .default figure {
    width: 95%;
  }
  .default figure > img {
    width: 100%;
  }
  .default p, .default li,
  .default h2, .default h3, .default h4, .default blockquote {
    max-width: none;
  }
}

/*
 * One Project pages
 */
.oneproject{
  position: relative;
}
.oneproject aside {
  position: absolute;
  right: 0;
  top: 0;
}
.oneproject figure {
  margin-bottom: 20px;
  background: white;
}
.oneproject figcaption {
  font-size: 0.75em;
  font-family:'Fira Sans', sans-serif;
  color: #160e44;
  padding: 3px 8px 3px 8px;
}
.oneproject figure > img {
  width: calc(100vw - 500px);
}
.oneproject .uebersichtlink {
  font-size: 0.75em;
  font-family:'Fira Sans', sans-serif;
  color: #160e44;
  margin-bottom: 10px;
  background-color: #e6e7e8;
  padding: 3px 8px;
  text-decoration: none;
}
.oneproject .uebersichtlink:hover {
  color: #ed1846;
}

.oneproject p, .oneproject li, .oneproject blockquote,
.oneproject h2, .oneproject h3, .oneproject h4 {
  max-width: 380px;
}

.oneproject ul {
  list-style-type: none;
  margin-bottom: 2em;
  line-height: 140%;
}

.oneproject strong {
  background-color: white;
  color: #160e44;
  padding: 1px 6px 1px 6px;
  font-size: 0.75em;
  font-family:'Fira Sans', sans-serif;
}


@media (max-width: 750px) {
  /* mobile */
  .oneproject aside {
    position: static;
  }
  .oneproject figure {
    margin-right: 0px;
  }
  .oneproject figure > img {
    width: 100%;
  }
}
