* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color:#160e44;
}

a:hover {
  text-decoration: none;
  color:#00aeef;
}

p {
  margin-bottom: 1em;
}

strong {
  font-weight: normal;
  color:#00aeef;
}

h2, h3, h4 {
  font-family: 'fira sans', sans-serif;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 500;
  font-size: 1.25em;
}

blockquote {
  margin: 2em;
  font-style: italic;
}

body {
  font-family: 'QuincyCF-italic', serif;
  font-size: 18px;
  color: #160e44;
  padding: 30px 40px;
  background-color: #f1f2f2;
}

@media (max-width: 460px) {
  /* mobile */
  body {
    padding: 30px 10px 50px 10px;
    font-size: 16px;
  }
}


/*
 * Header
 */

header::after {
  content: ' ';
  clear: both;
  display: block;
  margin-bottom: 30px;
}

.logo {
  font-size: 23px;
  width: 230px;
  float: left;
}

.address a {
  color: #160e44;
}
.address a:hover {
  color: #00aeef;
}
.address {
  font-style: normal;
  text-align: right;
  float: right;
  font-family: 'QuincyCF-italic', serif;
  font-weight: 400;
  line-height: 140%;
}
@media (max-width: 770px) {
  /* mobile */
  .address {
    display: none;
  }
}

.nav {
  float: left;
  list-style-type: none;
  font-family: 'fira sans', sans-serif;
  font-weight: 400;
  color:#160e44;
}
.nav a {
  color: #160e44;
  padding: 5px 20px 5px 10px;
  display: inline-block;
  /*text-decoration: underline;*/
}
.nav .active a {
  background: #160e44;
  color: white;
  cursor: default;
    text-decoration: none;
}
.nav a:hover {
  background: #ecbbbe;
  color: white;
  cursor: default;
  text-decoration: none;
}
@media (max-width: 460px) {
  /* mobile */
  .nav {
    margin-top: 5px;
    margin-left: -10px;
  }
}

/*
 * Projects home page
 */
.projects > ul {
  list-style-type: none;
}
.projects img {
  display: block;
  height: auto;
}
.projects a {
  display: inline-block;
  float: left;
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
}
.projects .title {
  background: #ed1a3b;
  color: white;
  position: absolute;
  bottom: 0;
  padding: 1em;
  width: 100%;
  height: 30%;
  box-sizing: border-box;
  text-align: center;
  display: none;
  font-family: 'fira sans', sans-serif;
  font-weight: 400;
}
.projects a:hover .title {
  display: inline-block;
}
@media (max-width: 900px) and (min-width: 461px) {
  /* medium */
  .projects img {
    width: calc((100vw - 140px)/3);
  }
  .projects .title {
    font-size: 0.8em;
  }
}
@media (max-width: 460px) {
  /* mobile */
  .projects img {
    width: calc(50vw - 30px);
  }
  .projects .title {
    display: inline-block;
    height: initial;
    background: #f1f2f2;
    color: #160e44;
    opacity: 0.8;
    font-size: 0.7em;
  }
}

/*
 * Single project and static pages
 */
.default {
  position: relative;
}
.default aside {
  position: absolute;
  right: 0;
  top: 0;
}
.default figure {
  margin-bottom: 20px;
}
.default figcaption {
  font-style: italic;
  color: #cac3ca;
}
.default figure > img {
  width: calc(100vw - 500px);
}
.default .uebersichtlink {
  font-family: 'fira sans', sans-serif;
  font-size: 0.8em;
  color: #cac3ca;
  margin-bottom: 10px;
}
.default .uebersichtlink:hover {
  color: #00aeef;
}


@media (max-width: 770px) {
  /* mobile */
  .default aside {
    position: static;
  }
  .default figure {
    margin-right: 0px;
  }
  .default figure > img {
    width: 100%;
  }
}
.default p, .default li, .default blockquote,
.default h2, .default h3, .default h4 {
  max-width: 400px;
}

.default ul {
  list-style-type: none;
  margin-bottom: 2em;
}

.no-pad p, .no-pad a, .no-pad h1, .no-pad h2, .no-pad h3, .no-pad h4 {
    margin-bottom: 0px;
}
