<!DOCTYPE html>

<html lang="de">
  {% include head.html %}
  <body>
    {% include headernoadress.html %}
    <main class="default">
      {{ content }}
      <a href="#top" class="uebersichtlink">&uarr; nach oben</a>
      <a href="mailto:?Subject=Studio Franklin, Branding und Design / {{ page.title }}&amp;Body=Dieseh%20Seite%20möchte%20ich%20teilen:%20www.studio-franklin{{ page.url }}.com" class="uebersichtlink">
        <img src="/assets/images/envelope.svg" alt="envelope logo" class="envelope"> weiterleiten
      </a>
    </main>
  </body>
</html>
