<!DOCTYPE html>

<html lang="de">
  {% include head.html %}
  <body>
    {% include header.html %}
<h2>Projekt / {{ page.title }}</h2>
    <main class="oneproject">
      {{ content }}
      <a href="/" class="uebersichtlink">&larr; zurück</a>
      <a href="#top" class="uebersichtlink">&uarr; nach oben</a>
      <a href="mailto:?Subject=Studio Franklin, Design Projekt {{ page.title }}&amp;Body=Ich%20finde%20dieses%20Projekt%20interessant:%20{{ page.url }}" class="uebersichtlink">&hearts; weiterleiten</a>
    </main>
  </body>
</html>
